p {
  background-color: aqua;
}
.parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.parent div {
  height: 300px;
  width: 300px;
  background-color: blue;
  border: 1px solid black;
}

@media (min-width: 320px) {
  p {
    background-color: green;
  }
}
@media (min-width: 425px) {
  p {
    background-color: blue;
  }
}
@media (min-width: 768px) {
  p {
    background-color: red;
  }
  .parent {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  p {
    background-color: silver;
  }
}
@media (min-width: 1200px) {
  p {
    background-color: orange;
  }
}
